<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../img/logo.webp">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Ofertas</title>
</head>
<body>
    <header>
        <a href="../../index.html" class="logo">
            <img src="../img/logo-cocos.jpg" alt="cocos-pizza" width="150"
                height="150">
        </a>

        <!--  -->
        <div class="menu_bar">
            <a href="#" class="menu-opciones" class="bt-menu"><span class="icon-menu"></span id="boton"> <i class="fa-solid fa-bars"></i> </a>
        </div>
    
        <nav class="menu-header">
            <ul class="menu">
                <li><a  class="menu-opciones" href="../../index.html"><span></span>Home</a></li>
                <li><a class="menu-opciones" href="../views/Productos.html">Catalogo</a></li>
                <li><a class="menu-opciones" href="../views/NuestraHistoria.html"><span></span>Nuestra Historia</a></li>
                <li><a class="menu-opciones" href="../views/contactos.html"><span></span>Contacto</a></li>
            </ul>

        </nav>
    </header>
    <div class="icono">
        <a href="https://www.whatsapp.com/"target="_blank"><button><i class="fa-brands fa-whatsapp"></i></button></a>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum harum minus nihil sunt magni, odio nulla reprehenderit accusamus quibusdam deleniti! Facere quibusdam laudantium dignissimos, error praesentium cum quasi culpa ea?</p>
</body>

<footer>
    <div class="container">
        <nav class="servicio">
            <ul>
                <li id="title">SERVICIO AL CLIENTE </li>
                <li ><a href="#">¿Como comprar?</a></li>
                <li ><a href="#">Preguntas frecuentes</a></li>
                <li ><a href="#">Terminos y condiciones</a></li>
            </ul>
        </nav>

        <nav class="contacto">
            <ul>
                <li id="title">MEDIO DE CONTACTO</li>
                <li>Tel: (0351) 4419200 | (0351) 4576162</li>
                <li>E-mail: ventas@peucor.com.ar | peucor@gmail.com</li>
                <li>Dirección: Av. Sabattini 2256, Córdoba.</li>
            </ul>
        </nav>
    </div>
    <p class="p">Gifcorp 2023</p>
</footer>
</html>