@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    overflow-x: hidden;
}


header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    font-size: 18px;
}

.menu{
    display: flex;
}

header .menu-header{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
    justify-content: flex-end;

}

header .logo{
    width: 18%;
    margin-left: 2%;
}

.menu-opciones{
    text-decoration: none;
    color: black ;
    margin: 7px;
    font-weight: bold;
}

.menu-opciones:hover{
    color: rgb(100, 94, 94);
}

.boton-anadir{
    background-color:white;
    color: black;
    border: white;
    border-radius: 100px;
    width: 50px;
    padding: 5px 1px;
} 

.boton-anadir:hover{
    cursor: pointer;
    font-size: 15px;
}

.search{
    margin: 10px;
    border-radius: 10px;
    padding: 5px
}

body{
    padding: 10px;
    height: 85%;
}

.icono{
    z-index: 20;
    bottom: 20px;
    right: 20px;
    position: fixed;
}

.icono button{
    height: 50px;
    width: 50px;
    background-color: #27cd40;
    border-radius: 100% ;
    border: solid #27cd40;
}
.icono button :hover{
    cursor: pointer;
}
.icono button i{
    color: white;
    font-size: 30px;
}

.icono button i:hover{
    cursor: pointer;
    font-size: 35px;
}

footer{
    z-index: 1;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    position: absolute;
    height: 15rem;
    font-size: 14px;
    background-color: #f9f9f9 ;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
}

.contacto , .servicio{
    height: auto;
}

ul{
    list-style: none;
}

.contacto ul li,.servicio ul li{
    margin: 15px;
    font-size: 17px;
}

footer .container .servicio ul li a{
    text-decoration: none;
    color:black;
}

footer .container .servicio ul li a:hover{
    font-size: 17.5px;
}

#title{
    font-weight:bold;
    font-size: 17px;
    color: #e00023;
}


.p{
    color: rgb(115, 115, 115);
}

.mapa{
    margin: 4%;
}


@media(min-width:900px){
    
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
        text-align: left;
    }
    
    .contacto , .servicio{
        width: 30%;
        height: auto;
        margin-bottom: 50px;
    }
    
}
