@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
}

body{
    padding: 10px;
    height: 85%;
    overflow-x: hidden;
}

.icono{
    z-index: 20;
    bottom: 20px;
    right: 20px;
    position: fixed;
}

.icono button{
    height: 50px;
    width: 50px;
    background-color: #27cd40;
    border-radius: 100% ;
    border: solid #27cd40;
}
.icono button :hover{
    cursor: pointer;
}
.icono button i{
    color: white;
    font-size: 30px;
}

.icono button i:hover{
    cursor: pointer;
    font-size: 35px;
}

footer{
    z-index: 1;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    height: 15rem;
    font-size: 14px;
    background-color: #f9f9f9 ;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
}

.contacto , .servicio{
    height: auto;
}

ul{
    list-style: none;
}

.contacto ul li,.servicio ul li{
    margin: 15px;
    font-size: 17px;
}

footer .container .servicio ul li a{
    text-decoration: none;
    color:black;
}

footer .container .servicio ul li a:hover{
    font-size: 17.5px;
}

#title{
    font-weight:bold;
    font-size: 17px;
    color: #e00023;
}


.p{
    color: rgb(115, 115, 115);
}

.mapa{
    margin: 4%;
}

.back i{
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 100% ;
    border: solid #000000;
    color: black;
}

.back{
    border: white;
    background-color: #ffffff;
}

.back :hover{
    cursor: pointer;
}



header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 18px;
}

.menu{
    display: flex;
    flex-direction: column;
}

.menu_bar {
	display:none;
    background-color:white;
}

.menu_bar i {
    font-size: 30px;
}

header nav ul {
	list-style:none;
}

/* header nav ul li {
	display:inline-block;
} */

header nav ul li:hover {
	font-size: 20px;
}

header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
}

header nav ul li a span {
	margin-right:10px;
}


header .logo{
    width: 18%;
    margin-left: 2%;
}

.menu-opciones{
    text-decoration: none;
    color: black ;
    margin: 7px;
    font-weight: bold;
}

.menu-opciones:hover{
    color: rgb(100, 94, 94);
}

.boton-anadir{
    background-color:white;
    border: white;
} 

.boton-anadir:hover{
    cursor: pointer;
    font-size: 15px;
}

.search{
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
    border-color: black;
}

/* @media(min-width:900px){
    header{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        align-items: center;
        font-size: 18px;
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
        text-align: left;
    }
    
    .contacto , .servicio{
        width: 30%;
        height: auto;
        margin-bottom: 50px;
    }
    
} */

 @media screen and (max-width: 800px) {
	body {
		padding:80px;
	}

	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
        padding: 30px;
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}

	.menu_bar span {
		float: right;
		font-size: 40px;
	}

	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
        background-color: white;
	}

	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	header nav ul li a {
		display: block;
	}

	header nav ul li:hover .children {
		display: none;
	}

	header nav ul li .children {
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		margin-left:20px;
	}

	header nav ul li .caret {
		float: right;
	} 

} 

@media(min-width:800px){
    .menu{
        display: flex;
        flex-direction: row;
    }

    .menu-header, header{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    header{
        width: 100%;
        justify-content: space-around;
    }

    header a .logo img{
        display: flex;
        justify-content: flex-start;
        margin-left: 0;
        
    }

    header .menu-header{
        width: 70%;
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 5rem;
        text-align: left;
    }
    
    .contacto , .servicio{
        width: 30%;
        height: auto;
        margin-bottom: 50px;
    }
}